#inputbox{
    padding-left: 375px;
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: justify;
              text-justify: inter-word;
              
    
}

#input1{
    margin-left: 375px;
    width: 350px;
    text-align: justify;
              text-justify: inter-word;
}

#button{
    width: 150px;
    margin-left: 375px;
    margin-top: 25px;
    // width: 350px;
    // height: 350px;
}

#button1{
    width: 150px;
    margin-left: 75px;
    margin-top: 25px;
    // width: 350px;
    // height: 350px;
}

#exampleFormControlSelect2{
    width: 350px;
    //padding-top: 25px;
    margin-top: 15px;
    margin-left: 375px;
}