<div class="wrapper card">
  <div class="side-panel">
    <h4 class="card-title">Live</h4>
    <div class="form-group">
      <select
        class="form-control form-control-lg"
        id="exampleFormControlSelect2"
      >
        <option>Twitter</option>
        <option>LinkedIn</option>
        <option>Facebook</option>
      </select>
      <div class="buttons">
        <button (click)="addCard()">My Tweets</button>
        <button (click)="addCard()">Competitor Tweets</button>
        <button (click)="addCard()">Mentions</button>
        <button (click)="clearCards()">Clear</button>
      </div>
    </div>
  </div>
  <div class="blocksWrapper">
    <app-block-card *ngFor="let block of blocks" [blockData]="block">

    
  <div class="right">
    
    <div class="card-panel">
      
      
        
      <form class="form-inline">
        <div class="form-group hidden">
          <div class="input-group">
            <input
              name="datepicker"
              class="form-control"
              ngbDatepicker
              #datepicker="ngbDatepicker"
              [autoClose]="'outside'"
              (dateSelect)="onDateSelection($event)"
              [displayMonths]="2"
              [dayTemplate]="t"
              outsideDays="hidden"
              [startDate]="fromDate!"
              tabindex="-1"
            />
            <ng-template #t let-date let-focused="focused">
              <span
                class="custom-day"
                [class.focused]="focused"
                [class.range]="isRange(date)"
                [class.faded]="isHovered(date) || isInside(date)"
                (mouseenter)="hoveredDate = date"
                (mouseleave)="hoveredDate = null"
              >
                {{ date.day }}
              </span>
            </ng-template>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <input
              #dpFromDate
              class="form-control"
              placeholder="yyyy-mm-dd"
              name="dpFromDate"
              [value]="formatter.format(fromDate)"
              (input)="fromDate = validateInput(fromDate, dpFromDate.value)"
            />
            <div class="input-group-append">
              <button
                class="btn btn-outline-secondary mdi mdi-calendar-text"
                (click)="datepicker.toggle()"
                type="button"
              ></button>
            </div>
          </div>
        </div>
        <div class="form-group ml-2">
          <div class="input-group">
            <input
              #dpToDate
              class="form-control"
              placeholder="yyyy-mm-dd"
              name="dpToDate"
              [value]="formatter.format(toDate)"
              (input)="toDate = validateInput(toDate, dpToDate.value)"
            />
            <div class="input-group-append">
              <button
                class="btn btn-outline-secondary mdi mdi-calendar-text"
                (click)="datepicker.toggle()"
                type="button"
              ></button>
            </div>
          </div>
        </div>
      </form>
      <div *ngFor="let item of responseData">
        <div class="social-card">
          <div class="card-bg">
            <span class="flag">{{ item.user_screen_name }}</span>
           
          </div>
          
          <div class="card-avatar">
            <a href="#"
              ><img src="{{ item.profile_image_url }}" alt="Avatar"
            /></a>
            <!-- <div class="content-meta">
              <h6>Sentiment : {{ item.sentiment }}</h6>
              <p>{{ item.sentiment_score_mixed }}</p>
            </div> -->
          </div>
          <div class="card-content">
            <p>
              <!-- {{ item.created_at }}
              {{ item.id }} -->
              {{ item.text }}
              <!-- {{ item.screen_name }}
              {{ item.name }}
              {{ item.urls }}
              {{ item.followers_count }}
              {{ item.location }}
              {{ item.profile_image_url }} -->
              <!-- This is paragraph text that will go inside of the social media card
              object right here. Also this text will be limited to x amount of.<a
                href="#"
                >Read More</a
              > -->
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="card-panel">
      <form class="form-inline">
        <div class="form-group hidden">
            
        </div>
      </form>
    </div> -->
  </div>
  </app-block-card>
  </div>
</div>



